@import url('https://fonts.googleapis.com/css?family=Epilogue:regular,500,700&display=swap');
@import url('reset.css');

body { 
    font-family: 'Epilogue', sans-serif;
    color: #ffff;
    line-height: 5.0;
    height: 100vh;
    font-weight: 700;
    font-size: 20px;
}
[class*='__container'] {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}
.wrapper {
    min-height: 100%;
    overflow: clip;
    display: flex;
    flex-direction: column;
}
.page {
    flex: 1 0 auto;
}
/*=header===========================*/
.header {
    text-align: center;
    min-height: 40px;
    padding-block: 20px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 30;
    background-color: #1c2737;
    color: #ffff;
    
}
.header__title {
    text-transform: uppercase;
    font-size: 28px;
    line-height: 40px;
    font-weight: 700;
    text-shadow: #ffff 1px 3px 5px;
}

/*=test===========================*/

/*=mosaic===========================*/
.mosaic__space {
    background: url(../img/mosaik/space_02.webp);
    min-height: 1000px;
    position: relative;
}
.mosaic__space::before {
    content: '';
    position: absolute;
    top: 10%;
    right: 10%;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color: #fff;
    box-shadow: 0px 0px 30px #fff;
    animation-name: moon-shane;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}

.spot__dude {
    min-width: 270px;
    min-height: 420px;
    position: absolute;
    bottom: 1%;
    left: 33%;
    transition: all 0.3s;
    
}

.dude__body {
    position: absolute;
    background-color: rgb(91, 190, 91);
    width: 40px;
    height: 100px;
    border-radius: 135% 135% 65% 65%;
    top: 20%;
    left: 50%;
    z-index: 1;
    animation: hide 1s 5s forwards;
}

.dude__head {
    position: absolute;
    background-color: rgb(91, 190, 91);
    width: 80px;
    height: 80px;
    border-radius: 47% 60% 47% 16%;
    top: -91px;
    left: -20px;
    transform: rotate(-45deg);
}
.dude__head:before,
.dude__head:after {
    content: '';
    width: 30px;
    height: 30px;
    /* background-color: #110601; */
    background: radial-gradient(circle, rgba(192,192,192,1) 0%, rgba(0,0,0,1) 50%, rgba(0,0,0,1) 100%);
    position: absolute;
    border: 1px solid green;
    border-radius: 82% 1% 88% 24% / 79% 36% 100% 31%;
    border-radius: 82% 24% 82% 24% / 79% 36% 79% 36%;
}
.dude__head:before {
    left: 2px;
    top: 13px;
    transform: rotate(124deg);
}
.dude__head:after {
    left: 37px;
    top: 47px;
    transform: rotate(-124deg);
    animation: eye 1s 3s ;
}
.dude__hand,
.dude__leg {
    position: absolute;
}
.dude__hand--left {
    right: 16px;
    top: 0px;
}
.dude__hand--right {
    left: 16px;
    top: 0px;
}
.dude__leg--left {
    bottom: -150px;
    left: -39px;
}
.dude__leg--right {
    bottom: -128px;
    right: -35px;
}
/*=spot=============================*/
.mosaic__spot {
    min-width: 800px;
    min-height: 600px;
    position: absolute;
    bottom: 10%;
    left: 12%;

}
.spot__body {
    position: relative;
    width: 800px;
    height: 600px;
    z-index: 1;
    animation: start 6s ease-in 6s forwards;
}

.spot__top {
    position: absolute;
    width: 37.5%;
    height: 33.33%;
    border-radius: 50% 50% 52% 52% / 76% 76% 24% 24%  ;
    top: 24%;
    left: calc(50% - 150px);
    background-color: rgba(138, 143, 185, 1);
    border: 4px solid rgba(138, 143, 185, 0.5);
    z-index: 3;
    box-shadow: inset -14px 4px 9px #fff;
    transform-origin: left bottom;
    transform: rotate(-90deg) translateY(50%);
    animation: preparation-top 2s linear 4s forwards, glass-shane 3s infinite ;
}
.spot__bottom {
    position: absolute;
    width: 100%;
    height: 50%;
    left: 0;
    top: 50%;
    background-color: #c0c0c0;
    box-shadow: inset -14px 4px 9px #fff;

    border-radius: 50% 50% 50% 50% / 53% 53% 47% 47% ;
    z-index: 2;
    border: 3px solid rgb(51, 49, 49);
    animation: glass-shane 3s infinite ;
}

.spot__circle {
    position: absolute;
    top: 37%;
    left: calc(50% - 150px);
    min-width: 37.5%;
    min-height: 16.67%;
}
.circle-spot__item {
    position: absolute;
    background-color: gray;
    width: 16.67%;
    height: 100%;
    border-radius: 50%;
    animation: circle 3s 5s forwards ;
}
.circle-spot__item--middle {
    top: 0;
    left: calc(50% - 25px);
}
.circle-spot__item--left {
    top: -28%;
    left: 0;
}
.circle-spot__item--right {
    top: -28%;
    right: 0;
}

.spot__foots {
    
}
.spot__foot {
    position: absolute;
    bottom: -30px;
    width: 20px;
    height: 60px;
    background-color: grey;
    background-color: rgb(160, 27, 27);
    z-index: -3;
    animation: preparation-foot 2s linear 4s forwards ;
}
.spot__foot--left {
    left: 30%;
    transform: skewX(-30deg);
}
.spot__foot--right {
    right: 30%;
    transform: skewX(30deg);
}
.mosaic__message {
    position: absolute;
    left: 17%;
    bottom: 20%;
    letter-spacing: 3px;
    text-shadow: 0px 0px 30px #fff;
    animation: bye 6s 8s forwards;
}
@keyframes moon-shane {
    0% {
        box-shadow: -10px 10px 60px #fff;
    }
    50% {
        box-shadow: -30px 30px 100px #fff;
    }
    100% {
        box-shadow: -10px 10px 60px #fff;
    }
}
@keyframes glass-shane {
    0% {
        box-shadow: inset -16px 3px 9px #fff;
    }
    50% {
        box-shadow: inset -25px 2px 9px #fff;
    }

}
@keyframes preparation-top {
    50% {
        top: 25%;
        transform: rotate(-45deg) translateY(20%);
    }
    100% {
        top: 26%;
        transform: rotate(0deg) translateY(0%);
    }
}   
@keyframes preparation-foot {
    50% {
        bottom: -15px;
    }
    100% {
        bottom: 20px;
    }
} 
@keyframes hide {
    100% {
        display: none;
    }
}
@keyframes start {
    50% {
        transform: translate(-10%, -18%) ;
    }
    100% {
        transform: translate(30%, -50%) scale(0%) ;
    }
}
@keyframes circle{
    100% {
        box-shadow: 0px 0px 8px 6px rgba(255, 255, 0, 1);
        background-color: yellow;
    }
}
@keyframes bye {
    0% {}
    100% {
        transform: translate(60%, -50%) scale(4.0);
    }
}
@keyframes eye {
    100% {
        background: rgb(91, 190, 91);
    }
}
/*=footer============================*/
.footer {
    position: sticky;
    bottom: 0;
    left: 0;
    text-align: center;  
    padding-block: 10px;
    min-height: 40px;
    background-color: #1c2737;
    color: #ffff;
    font-weight: 500;
    z-index: 2;
}
.footer__container > *:not(:last-child) {
    margin-bottom: 20px;
}
