
@import url("https://fonts.googleapis.com/css?family=Roboto:regular,500,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Work+Sans:regular,600&display=swap");
@import url("reset.css");

body {
    height: 100%;
    font-family: 'Roboto', serif;
    color: var(--text-color);
}
.wrapper {
    min-height: 100vh;
    /* display: flex;
    flex-direction: column; */
}
[class*='__container'] {
    max-width: 1620px;
    margin: 0 auto;
    padding: 0 15px;
}
.page {
    /* flex: 0 0 100%; */
}
:root {
    --primary-color: rgba(88,182,216,0.4); /* Оголошення змінної для основного кольору */
    --text-color: #000; /* Оголошення змінної для кольору тексту */
    --primary-color: rgba(87, 77, 129, 0.6); 
}
.title {
    text-align: center;
    font-weight: 500;
    text-transform: uppercase;
    font-size: 28px;
}
.title:not(:last-child) {
    margin-bottom: 20px;
}
.text {
    line-height: 1.4;
    padding: 10px;
    display: flex;flex-direction: column;
    gap: 10px;
}
/*------------------------*/
.header {
    position: fixed;
    width: 100%;
    z-index: 50;
    top: 0;
    left: 0;
}
.top-header {
    color: var(--text-color);
    /* background-color: rgba(114, 122, 209, 0.9); */
    background-color: var(--primary-color);
    padding: 10px 0;
}
.top-header__menu {
    display: flex;
    justify-content: space-around;
    min-height: 50px;
    align-items: center;
    column-gap: 100px;
}

.icon-menu {
    display: none;
    width: 24px;
    height: 16px;
    position: relative;
}

.icon-menu span {
    display: block;
    width: 100%;
    height: 2px;
    background-color: var(--text-color);
}
.icon-menu span::before,
.icon-menu span::after {
    content: "";
    position: absolute;
    background-color: var(--text-color);
    width: 100%;
    height: 2px;
    left: 0;
}
.icon-menu span::before {
    top: 0;
}
.icon-menu span::after {
    bottom: 0;
}

.header__logo {
    width: 150px;
}
.menu__list {
    display: flex;
    gap: 10px 20px;
    flex-wrap: wrap;
    transition: color 0.3s;
}

.menu__item {}

.menu__link:hover{
    color: #3f3863;
}
/* .menu__link:active{
    color: #473c79;
} */

.languages__list {
    display: flex;
    gap: 10px;
} 

.languages__item {}

.languages__link {
    text-transform: capitalize;
}

/*------------------------*/


/*-hero---------------------*/
.hero {
    /* padding-top: 60px; */
}
.hero__title {
    color: #ffff;
    font-size: 46px;
    text-align: center;
    text-transform: uppercase;
}
.hero-slide__img {
    text-align: center;
}
.hero-slide__img img {
    max-width: 100%;
}
/*-about--------------------------*/
.page__about {}

.about {}

.about__container {
   
}
.about__inner {
    
}
.about__body {
    padding: 50px;
    background: linear-gradient(0deg, rgba(197,195,206,0.15) 0%, rgba(197,195,206,0.6) 50%, rgba(197,195,206,0.15) 100%);
    display: flex;
    gap: 30px;
    
}
.about__image {
    text-align: center;
    flex: 0 1 40%;
}
.about__image img{
    width: 100%;
}
.about__content {
    flex: 0 1 60%;
}

.about__text {
    
}

/*=cooperation=============================*/
.page__cooperation {}

.cooperation {}

.cooperation__container {}

.cooperation__body {
    padding: 50px;
    display: flex;
    flex-direction: row-reverse;
    padding-block: 50px;
    background: linear-gradient(0deg, rgba(197,195,206,1) 0%, rgba(197,195,206,0.5) 50%, rgba(197,195,206,1) 100%);
    gap: 30px;
}


.cooperation__content {

}

.cooperation__image {
    text-align: center;
    flex: 0 1 40% ;
}
.cooperation__image img {
    width: 100%;
}

.cooperation__content {
    flex: 0 1 60% ;
}
.cooperation__text 
/*-footer---------------------*/
.footer {
}
.footer__container {
    
}
.footer__body {
    display: flex;
    justify-content: space-around;
    gap: 10px;
    align-items: center;
    background-color: rgba(87, 77, 129, 0.7);
    padding-block: 30px;
}
.footer-menu__list {
    flex-direction: column;
}
.footer-menu__item:not(:last-child) {
    margin-bottom: 15px;
}
.footer-menu__link::before {
    content: "";
    margin-right: 20px;
    width: 10px;
    height: 10px;
    background: url(../img/footer/arrow_right.svg) 0 0 / 10px no-repeat;
    
}
.footer__item:not(:last-child) {
    margin-bottom: 15px;
}
.footer__form {
    color: var(--text-color);
    display: flex;
    flex-direction: column;
    row-gap: 15px;
}
.footer__title {
    text-align: center;
}
.footer__form label,
.footer__form textarea{
    border-bottom: 1px solid rgba(0, 0, 0, 1);
    border-radius: 3px;
}
.footer__input::placeholder,
.footer__field::placeholder{
    color: rgba(0, 0, 0, 0.6);
    font-size: 12px;
}

.footer__btn {
    background-color: #574d81;
    border: 1px solid #574d81;
    border-radius: 3px;
    padding: 5px 10px;
    outline: transparent;
    transition: background-color 0.3s;
}
.footer__btn:hover {
    background-color: #473c79;
}
.contacts__list:not(:last-child) {
    margin-bottom: 20px;
}
.contacts__item:not(:last-child) {
    margin-bottom: 15px;
}
.contacts__link::before {
    content: '';
    width: 27px;
    height: 24px;
    vertical-align: middle;
    margin-right: 10px;
}
.contacts__link--phone::before {
    background: url(../img/footer/phone.svg) 0 0 / 24px no-repeat;

}   
.contacts__link--email::before {
    background: url(../img/footer/envelope.svg) 0 0 / 24px no-repeat;
}   
/*------------------------*/
@media (max-width: 768px) {
    .menu__body {
        position: absolute;
        top: 100px;
        left: 0;
        z-index: 30;
        width: 100%;
    }
    .menu__list {
        flex-direction: column;
        color: rgba(114, 122, 209, 0.9);
        align-items: center;
    }
    .icon-menu {
        display: block;
    }
    
}