
@import url("https://fonts.googleapis.com/css?family=Roboto:regular,500,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Work+Sans:regular,600&display=swap");
@import url("reset.css");

body {
    height: 100%;
    font-family: 'Roboto', serif;
    color: var(--text-color);
}
.wrapper {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
[class*='__container'] {
    max-width: 1630px;
    margin: 0 auto;
    padding: 0 15px;
}
.page {
    flex: 0 0 100%;
}
:root {
    --text-color: #000; /* Оголошення змінної для кольору тексту */
    --primary-color: rgba(87, 77, 129, 0.6); 
}
.title {
    text-align: center;
    font-weight: 500;
    text-transform: uppercase;
    font-size: 28px;
}
.title:not(:last-child) {
    margin-bottom: 20px;
}
.text {
    line-height: 1.4;
    padding: 10px;
    display: flex;flex-direction: column;
    gap: 10px;
}
/*------------------------*/
.header {
    position: fixed;
    width: 100%;
    z-index: 50;
    top: 0;
    left: 0;
}
.header {
    color: var(--text-color);

}
.header__container {
}
.header__menu {
    display: flex;
    justify-content: space-around;
    min-height: 50px;
    align-items: center;
    column-gap: 100px;
    background-color: rgb(111, 94, 180);
}

.icon-menu {
    display: none;
    width: 24px;
    height: 16px;
    position: relative;
}

.icon-menu span {
    display: block;
    width: 100%;
    height: 2px;
    background-color: var(--text-color);
}
.icon-menu span::before,
.icon-menu span::after {
    content: "";
    position: absolute;
    background-color: var(--text-color);
    width: 100%;
    height: 2px;
    left: 0;
}
.icon-menu span::before {
    top: 0;
}
.icon-menu span::after {
    bottom: 0;
}

.logo {
    width: 150px;
}
.menu__list {
    display: flex;
    gap: 10px 20px;
    flex-wrap: wrap;
    
}

.menu__item {}
.menu__link {
    transition: color 0.4s;
}
.menu__link:hover{
    color: #ffff;
}

/*------------------------*/


/*-hero---------------------*/
.hero {
    padding-top: 20px;
}
.hero__title {
    color: #ffff;
    font-size: 46px;
    text-align: center;
    text-transform: uppercase;
}
.hero-slide__img {
    text-align: center;
    background: linear-gradient(180deg, rgba(20, 20, 20, 0.00) 0%, #141414 100%);

Linear Gradient

}
.hero-slide__img img {
    max-width: 100%;
}
/*-about--------------------------*/
.page__about {}

.about {}

.about__container {
}
.about__inner {
    
}
.about__body {
    padding: 50px;
    background: linear-gradient(0deg, rgba(197,195,206,0.15) 0%, rgba(197,195,206,0.6) 50%, rgba(197,195,206,0.15) 100%);
    display: flex;
    gap: 30px;
}
.about__image {
    text-align: center;
    flex: 0 1 40%;
}

.about__image img{
    width: 100%;
}

.about__content {
    flex: 0 1 60%;
}
.about__text {
    
}
/*=cooperation=============================*/
.page__cooperation {}

.cooperation {}

.cooperation__container {}

.cooperation__body {
    padding: 50px;
    background: linear-gradient(0deg, rgba(197,195,206,1) 0%, rgba(197,195,206,0.5) 50%, rgba(197,195,206,1) 100%);
    
}
.cooperation__inner {
    display: flex;
    flex-direction: row-reverse;
    gap: 30px;
}
.cooperation__inner:not(:last-child) {
    margin-bottom: 30px;
}
.cooperation__content {

}
.cooperation__image {
    text-align: center;
    flex: 0 1 40% ;
}
.cooperation__image img {
    width: 100%;
}

.cooperation__content {
    flex: 0 1 60% ;
}
.cooperation__text {}
.cooperation__advantages {
    /* margin-top: -40px; */
}
.advantages__title {
    font-size: 20px;
}
.advantages__title:not(:last-child) {
    margin-bottom: 30px;
}
.advantages__items {
    display: flex;
    column-gap: 15px;
    justify-content: center;

}
.advantages__item {
    flex: 0 1 30%;
    justify-content: space-between;
    /* max-width: 450px; */
    box-shadow: 0 0 6px 2px rgba(111, 94, 180, 0.4);
    padding: 15px 20px;
    transition: box-shadow 0.5s ;
    border-radius: 3px;
    background-color: rgba(255, 255, 255, 0.3);
}
.item-advantages__img {
    text-align: center;
}
.item-advantages__img img{
    width: 36px;
    height: 36px;
}
.item-advantages__img:not(:last-child) {
    margin-bottom: 15px;
}

.item-advantages__text p:not(:last-child) {
    margin-bottom: 10px;
}
.advantages__item:hover {
    box-shadow: inset 0 0 6px 2px rgba(111, 94, 180, 0.4);
}
.item-advantages__text {
    line-height: 1.2;
}
/*-footer---------------------*/
.footer {
}
.footer__container {
    
}
.footer__body {
    background-color: rgba(87, 77, 129, 0.7);
    padding: 30px 10px;
}
.footer__logo:not(:last-child) {
    margin-bottom: 30px;
}
.footer__inner {
    display: flex;
    justify-content: space-around;
    column-gap: 30px;
    padding-inline: 15px;
}
.footer__text {
    max-width: 350px;
    line-height: 1.5;
}
.footer-menu{
    
}
.footer-menu__list {
    flex-direction: column;
}
.footer-menu__item {
    display: flex;
    gap: 20px;
    transition: color 0.3s, fill 0.3s;
}
.footer-menu__item svg {
    width: 12px;
    height: 12px;
}
.footer-menu__item:hover {
    color: #ffff;
    fill: #ffff;
}

.footer-menu__item:not(:last-child) {
    margin-bottom: 15px;
}

.footer__item:not(:last-child) {
    margin-bottom: 15px;
}
.footer__form {
    color: var(--text-color);
    display: flex;
    flex-direction: column;
    row-gap: 15px;
}

.footer__title {
    text-align: center;
}
.footer__form label,
.footer__form textarea{
    border-bottom: 1px solid rgba(0, 0, 0, 1);
    border-radius: 3px;
}
.footer__input::placeholder,
.footer__field::placeholder{
    color: rgba(0, 0, 0, 0.6);
    font-size: 12px;
}
.footer__field:not(:last-child) {
    margin-bottom: 10px;
}
.footer__btn {
    background-color:rgb(68, 49, 146);
    border: 1px solid #574d81;
    border-radius: 3px;
    padding: 5px 10px;
    outline: transparent;
    transition: background-color 0.3s color 0.3s;
    text-align: center;
    align-items: center;
}
.footer__btn:hover {
    background-color: rgba(68, 49, 146, 0.8);
    color: #ffff;
}
.contacts {
    
}
.contacts__list:not(:last-child) {
    margin-bottom: 15px;
}
.contacts__item:not(:last-child) {
    margin-bottom: 15px;
}
.contacts__item {
    display: flex;
    gap: 20px;
    align-items: center;
    transition: color 0.3s, fill 0.3s;
}
.contacts__item svg{
    width: 24px;
    height: 24px;
}

.contacts__item:hover {
    color: #ffff;
    fill: #ffff;
}
.social__link path {
    transition: fill 0.3s;
}
.social__link path:hover {
    fill: #ffff;
}
/*------------------------*/
@media (min-width: 868px) {
    .content-block {
        align-self: center;
        display: flex;
        flex-direction: column;
    }

}
@media (max-width: 868px) {
    .about__body {
        flex-direction: column-reverse;
        padding: 30px 20px;
    }
    .about__image {
        max-width: 500px;
        margin: 0 auto;
    }
    .cooperation__body {
        padding: 30px 20px;
    }
    .cooperation__inner {
        flex-direction: column-reverse;
    }
    .cooperation__image {
        max-width: 500px;
        margin: 0 auto;
    }
    .advantages__items {
        gap: 15px;
    }
}
@media (max-width: 768px) {
    .menu__body {
        position: absolute;
        top: 100px;
        left: 0;
        z-index: 30;
        width: 100%;
    }
    .menu__list {
        flex-direction: column;
        color: rgba(114, 122, 209, 0.9);
        align-items: center;
    }
    .icon-menu {
        display: block;
    }
    .title {
        font-size: 20px;
        
    }
    .title:not(:last-child) {
        margin-bottom: 10px;
    }
    .hero {
        padding-top: 50px;
    }
    .about__body {
        padding: 20px 15px;
    }
    .cooperation__body {
        padding: 20px 15px;
    }
    .advantages__title {
        text-align: center;
    }
    .item-advantages__img {
        text-align: left;
    }
    .advantages__items {
        flex-direction: column;
        row-gap: 25px;
        
    }
    .advantages__item {
        max-width: 100%;
    }
    .footer__inner {
        flex-wrap: wrap;
        justify-content: left;
        gap: 30px 65px;
    }
}
@media (max-width: 480px) {
    .footer__logo:not(:last-child) {
        margin-bottom: 10px;
    }
    .footer__inner {
        flex-direction: column;
        justify-content: center;
        padding-block: 10px;
    }
    .footer-menu__item:not(:last-child) {
        margin-bottom: 25px;
    }
    .footer__inner {
        padding-block: 20px;
        flex-direction: column;
    }
    .footer__text {
        max-width: 100%;
    }

}