@import url('https://fonts.googleapis.com/css?family=Epilogue:regular,700,800,900&display=swap');
@import url('reset.css');

body { 
    font-family: 'Epilogue', sans-serif;
    color: #ffff;
    line-height: 2.0;
    height: 100vh;
    background-color: #28293E;
}
[class*='__container'] {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}
.wrapper {
    min-height: 100%;
    overflow: clip;
    display: flex;
    flex-direction: column;
}
.page {
    flex: 1 0 auto;
}

.header-block {}

.header-block__label {
    color: #EF6D58;
    text-transform: uppercase;
    letter-spacing: 3px;
}
.header-block__label:not(:last-child) {
    margin-bottom: 20px;
}
.header-block__title {
    color: #ffff ;
    font-size: 56px;
    line-height: 1.14; /* 64/56 */
    letter-spacing: -1px;
    font-weight: 800;
    text-transform: capitalize;
}
.button {
    text-align: center;
    border-radius: 6px;
    padding-block: 16px;
    border: 1px solid transparent;
    transition: color 0.3s;
}

.button--bold {
    font-size: 14px;
    line-height: 1;
    font-weight: 900;
    text-transform: uppercase;
}

.button--colored {
    padding-inline: 23px;
    background-color: #EF6D58;
    transition: background-color 0.3s;
}

.button--colored:hover {
    background-color: #e82609;
}

.button--transparent {
    padding-inline: 23px;
    transition: background-color 0.3s;
}

.button--transparent:hover {
    background-color: #777aca;
}

.subtitle {
    color: #ffff;
    font-weight: 800;
    font-size: 40px;
    line-height: 1.2; /* 48/40 */
}


.section-heading__label {
    color: #EF6D58;
    letter-spacing: 3px;
    text-transform: uppercase;
}

.section-heading__label:not(:last-child) {
    margin-bottom: 24px;
}
.section-heading__title {

}

.section-heading__title-big {
    text-transform: capitalize;
    font-size: 72px;
    line-height: 1.11; /* 80/72 */
    font-weight: 800;
    letter-spacing: -2px;
}

.section-heading__title-big:not(:last-child) {
    margin-bottom: 24px;
}

/*=header=============================*/


.header {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 80px;
    z-index: 60;
}

.header::after {
    content: '';
    position: fixed;
    width: 100%;
    height: 80px;
    left: 0;
    top: 0;
    background-color: rgb(255, 255, 255, 0.5);
    background-color: #28293E;
    z-index: -1;
}

.header__container {
    display: flex;
    align-items: center;
    min-height: 80px;
    justify-content: space-between;
    column-gap: 30px;
    padding-block: 5px;
}

.header__logo {}


.header__menu {}


.menu__list {
    display: flex;
    column-gap: 105px;
    row-gap: 10px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

}

.menu__item {}

.menu__link {
    transition: color 0.3s;
}

.menu__link:hover {
    color: rgb(255, 255, 255, 0.8);
}


.header__button {
    padding-inline: 38px;
    border-color: rgba(255, 255, 255, 0.30);
    transition: background-color 0.3s color 0.3s;
}

.header__button:hover {
    color: rgb(255, 255, 255, 0.8);
    background-color: #777aca;
}

/*=hero=============================*/
.page__hero {
    padding-block: 178px 56px;
}

.hero {
}

.hero__container {
    display: flex;
    justify-content: space-between;
    column-gap: 30px;
    row-gap: 50px;
}

.hero__content {
    flex: 1 0 48.71%;
    padding-top: 10px;
}

.hero__heading {
    max-width: 513px;
    position: relative;
}

.hero__heading:after {
    content: '';
    position: absolute;
    max-width: 148px;
    width: 100%;
    aspect-ratio: 1 / 1;
    background: url(../img/hero/star.svg) top right no-repeat;
    top: 22px;
    left: 278px;
    z-index: -1;
}

.hero__heading:not(:last-child) {
    margin-bottom: 24px;
}

.section-heading {
}


.hero__text {
    color: rgb(255, 255, 255, 0.64);
    max-width: 470px;
}

.hero__text:not(:last-child) {
    margin-bottom: 34px;
}

.hero__buttons {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.hero__buttons:not(:last-child) {
    margin-bottom: 108px;
}

.button--colored {
    align-self: center;
}


.hero__blockquote {
}

.blockquote {
    display: flex;
    column-gap: 16px;
    align-items: center;
}

.blockquote__image {
    display: flex;
    flex: 0 0 48px;
    /* min-width: 0; */
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    background-color: #B550F6;
    align-items: center;
    justify-content: center;
}

.blockquote__image img {
    flex: 0 0 38px;
    aspect-ratio: 38 / 43;
    max-width: 100%;
    min-width: 0;
    align-self: flex-end;
}

.blockquote__body {
}

.blockquote__text {
    color: rgb(255, 255, 255, 0.64);
}


.blockquote__autor {
}

.hero__images {
    flex: 0 0 48.71%;
    position: relative;
    aspect-ratio: 1 / 1;
    max-width: 570px;
    align-self: flex-start;
}

.images-hero {
}

.images-hero__center::before {
    content: '';
    border-radius: 50%;
    background-color: #32334C;
    /* width: 370px; */
    width: 64.91%;
    aspect-ratio: 1 / 1;
    position: absolute;
    top: calc(50% - 185px);
    top: 17.55%;
    left: calc(50% - 185px);
    left: 17.55%;
    z-index: -1;
}

.images-hero__left-top {
    position: absolute;
    left: 0;
    top: 0;
    width: 43.16%;
    aspect-ratio: 246 / 305;
    background-color: #B550F8;
    border-radius: 50% 50% 6px 6px / 41% 41% 6px 6px;
}

.images-hero__left-top img {
    position: absolute;
    left: 8.53%;
    top: 7.86%;
    width: 100%;
    /* max-width: 255px; */
    aspect-ratio: 255 / 265;

    
}

.images-hero__right-midle {
    position: absolute;
    right: 0;
    bottom: 13.33%;
    /* width: 246px; */
    width: 43.16%;
    aspect-ratio: 246 / 305;
    background-color: #F7CC47;
    border-radius: 50% 50% 6px 6px / 41% 41% 6px 6px;
}

.images-hero__right-midle img {
    width: 100%;
}

.images-hero__left-bottom {
    position: absolute;
    left: 6.14%;
    bottom: 4.74%;
    width: 37.54%;
    aspect-ratio: 214 / 112;
}

.images-hero__left-bottom img {
    width: 100%;
    border-radius: 6px;
}

.images-hero__top {
    position: absolute;
    left: 50.7%;
    top: 7%;
    border-radius: 50%;
    width: 19.65%;
    aspect-ratio: 1 / 1;
    overflow: hidden;
}

.images-hero__top img {
    width: 100%;
}

.images-hero__left-midle {
    position: absolute;
    left: 0;
    bottom: 27.37%;
    width: 24.91%;
    aspect-ratio: 142 / 73;
}

.images-hero__left-midle img {
    width: 100%;
}

.images-hero__right-top {
    position: absolute;
    right: 0;
    top: 14%;
    width: 19.65%;
    aspect-ratio: 112 / 82;
}

.images-hero__right-top img {
    width: 100%;
}

.images-hero__right-bottom {
    position: absolute;
    right: 28.77%;
    bottom: 0;
    width: 14.39%;
    aspect-ratio: 82 / 50;
}

.images-hero__right-bottom img {
    width: 100%;
}

/*=footer============================*/
.footer {
    text-align: center;  
    padding-block: 35px;
    min-height: 80px;
}

.footer__title {
    font-size: 32px;
    font-weight: 700;
}


.footer__container > *:not(:last-child) {
    margin-bottom: 20px;
}

/*=============================*/

@media (max-width: 991.98px) {
    .header__logo {
        /* flex-basis: ; */
    }
    .menu__list {
        column-gap: 50px;
    }

    .hero__images {
        align-self: auto;

    }

    .hero__container {
        flex-direction: column-reverse;
    }

    .section-heading__title-big {
        font-size: 64px;
    }
}

@media (max-width: 767.98px) {

    .header__logo {
        position: relative;
        z-index: 3;
        order: 1;
    }

    .header__burger {
        width: 48px;
        height: 48px;
        padding: 16px;
        border-radius: 6px;
        border: 1px solid rgba(255, 255, 255, 0.30);
        position: relative;
        z-index: 3;
        order: 3;
    }
    
    .header__burger span {
        display: block;
        width: 16px;
        height: 2px;
        background-color: #fff;
        position: relative;
        /* transition: all 0.3s; */
    }
    
    .header__burger span::after,
    .header__burger span::before {
        position: absolute;
        content: '';
        width: 100%;
        height: 2px;
        background-color: #fff;
        left: 0;
        transition: all 0.3s;
    }
    
    .header__burger span::after {
        top: 12px;
    }
    
    .header__burger span::before {
        top: 6px;
    }

    .open-menu .header__burger span {
        background-color: transparent;
    }

    .open-menu .header__burger span::after{
        transform: rotate(-45deg);
        top: 6px;
    }

    .open-menu .header__burger span::before  {
        transform: rotate(45deg);
    }

    .header__menu {
        position: fixed;
        top: 0px;
        left: 100%;
        width: 100%;
        height: 100%;
        z-index: 2;
        background-color: #28293E;
        overflow: auto;
        transition: left 0.4s;
    }

    .header__menu::after {
        content: '';
        position: fixed;
        width: 100%;
        height: 80px;
        left: 100%;
        top: 0;
        background-color: #28293E;
        z-index: 2;
        transition: left 0.4s;
    }

    .menu__list {
        padding: 100px 15px 30px;
        flex-direction: column;
        row-gap: 30px;
        align-items: flex-end;
        
    }

    .menu__link {
        font-size: 24px;
    }

    .header__button {
        /* display: none; */
        position: relative;
        z-index: 3;
        order: 2;
    }

    .open-menu .header__menu,
    .open-menu .header__menu::after {
        left: 0;
    }
}   

@media (max-width: 429.98px) {
    .header__button {
        display: none;

    }
}