@font-face {
  font-family: "Manrope";
  src: url("../fonts/Manrope-Bold.woff2") format(woff2);
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Manrope";
  src: url("../fonts/Manrope-Regular.woff2") format(woff2);
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Manrope";
  src: url("../fonts/Manrope-Medium.woff2") format(woff2);
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Manrope";
  src: url("../fonts/Manrope-SemiBold.woff2") format(woff2);
  font-weight: 600;
  font-style: normal;
}
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a,
*::before,
*::after {
  display: inline-block;
}

a {
  text-decoration: none;
  color: inherit;
  display: inline-block;
}

ul,
ol,
li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

html,
body {
  height: 100%;
  line-height: 1;
}

textarea,
button,
input {
  font-weight: inherit;
  font-size: inherit;
  color: inherit;
  font-family: inherit;
  background: transparent;
}

button,
select,
option {
  cursor: pointer;
}

input[type=text],
input[type=email],
input[type=tel],
textarea {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

body {
  font-family: "Manrope", sans-serif;
  height: 100vh;
  line-height: 1.5;
  background-color: #141414;
  color: #fff;
}
.open-menu body {
  overflow: hidden;
}

[class*=__container] {
  max-width: 1624px;
  margin: 0 auto;
  padding: 0 15px;
}

.wrapper {
  min-height: 100%;
  overflow: clip;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.page {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
}

.title {
  font-weight: 700;
}
@media (min-width: 101.5em) {
  .title {
    font-size: 2.375rem;
  }
}
@media (min-width: 20em) and (max-width: 101.5em) {
  .title {
    font-size: clamp( 1.75rem , 1.5966257669rem  +  0.7668711656vw , 2.375rem );
  }
}
@media (max-width: 20em) {
  .title {
    font-size: 1.75rem;
  }
}

.button {
  background-color: #E50000;
  color: #fff;
  border-radius: 0.5rem;
  font-weight: 500;
  text-transform: capitalize;
  font-size: 1.25rem;
  padding: 0.625rem 1.5rem;
}

.button--icon {
  border-radius: 0.5rem;
  font-weight: 600;
  line-height: 1;
  font-size: 1.125rem;
  padding-block: 0.875rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.button--icon span {
  position: relative;
  padding-right: 1.8125rem;
}
.button--icon span:before {
  content: "";
  position: absolute;
  background: url(../img/hero/treangle.svg) 0 0 no-repeat;
  width: 1.25rem;
  height: 1.25rem;
  top: 0;
  left: 0;
}

.block-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-column-gap: 0.625rem;
     -moz-column-gap: 0.625rem;
          column-gap: 0.625rem;
}

.control-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 1.875rem;
     -moz-column-gap: 1.875rem;
          column-gap: 1.875rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 1rem;
  background-color: #0F0F0F;
  border-radius: 0.5rem;
}
.control-block__icon {
  padding: 0.875rem;
  background-color: #1A1A1A;
  border-radius: 0.5rem;
  border: 1px solid #1F1F1F;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.control-block__icon svg {
  width: 1.3125rem;
  height: 1.125rem;
  overflow: hidden;
  -o-object-fit: cover;
     object-fit: cover;
}
.control-block--wide {
  background-color: transparent;
}
.control-block__icon--left svg {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}
.control-block__icon--dark {
  background-color: #0F0F0F;
}
.control-block__dash {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 0.1875rem;
     -moz-column-gap: 0.1875rem;
          column-gap: 0.1875rem;
}
.control-block__dash span {
  width: 1.4375rem;
  height: 0.25rem;
  background-color: #333333;
  border-radius: 0.25rem;
}
.control-block__dash span:nth-child(1) {
  background-color: #E50000;
}
@media (max-width: 47.99875em) {
  .control-block {
    display: none;
  }
}

.button-action {
  background: url(../img/hero/arrow.svg) 0 0/cover no-repeat;
  width: 1.25rem;
  height: 1.0625rem;
}

.info__title {
  font-size: 1.125rem;
  font-weight: 600;
}
.info__title--big {
  font-size: 1.25rem;
}
.info__link {
  background-color: #E50000;
  border-radius: 0.3125rem;
  padding: 0.625rem;
  font-weight: 600;
}
.info__link:not(:last-child) {
  margin-bottom: 0.25rem;
}

/*=header=============================*/
.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 50;
  background-color: #141414;
}
.header__container {
  min-height: 7.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-block: 0.625rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 0.9375rem;
     -moz-column-gap: 0.9375rem;
          column-gap: 0.9375rem;
}
.header__logo {
  -ms-flex-preferred-size: 12.5rem;
      flex-basis: 12.5rem;
  position: relative;
  z-index: 5;
}
.header__logo img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.header__burger {
  display: none;
}
@media (max-width: 61.99875em) {
  .header__burger {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 1.75rem;
            flex: 0 0 1.75rem;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    z-index: 5;
    position: relative;
  }
}
@media (max-width: 61.99875em) and (min-width: 101.5em) {
  .header__burger {
    margin-left: 1.875rem;
  }
}
@media (max-width: 61.99875em) and (min-width: 20em) and (max-width: 101.5em) {
  .header__burger {
    margin-left: clamp( 0.9375rem , 0.7074386503rem  +  1.1503067485vw , 1.875rem );
  }
}
@media (max-width: 61.99875em) and (max-width: 20em) {
  .header__burger {
    margin-left: 0.9375rem;
  }
}
@media (max-width: 61.99875em) {
  .header__burger span, .header__burger::before, .header__burger::after {
    content: "";
    width: 100%;
    height: 0.125rem;
    background-color: #fff;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
  }
  .header__burger span {
    margin-block: 0.4375rem;
  }
  .open-menu .header__burger span {
    width: 0;
    height: 0;
    margin-block: 0;
  }
  .open-menu .header__burger::before {
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  .open-menu .header__burger::after {
    -webkit-transform: rotate(-45deg) translateY(-1.5px);
        -ms-transform: rotate(-45deg) translateY(-1.5px);
            transform: rotate(-45deg) translateY(-1.5px);
  }
}
@media (min-width: 61.99875em) {
  .header__menu {
    background-color: #0F0F0F;
    border: 0.25rem solid #1F1F1F;
    padding: 0.625rem 1rem;
    border-radius: 0.75rem;
  }
}
@media (max-width: 61.99875em) {
  .header__menu {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 100%;
    -webkit-transition: left 0.3s;
    transition: left 0.3s;
    overflow: auto;
  }
  .header__menu:after {
    content: "";
    position: fixed;
    width: 100%;
    height: 120px;
    top: 0;
    left: 0;
    background-color: #141414;
  }
}
.open-menu .header__menu {
  left: 0;
  background-color: #141414;
}
.header__action {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
  z-index: 5;
}
@media (min-width: 101.5em) {
  .header__action {
    -webkit-column-gap: 1.875rem;
       -moz-column-gap: 1.875rem;
            column-gap: 1.875rem;
  }
}
@media (min-width: 20em) and (max-width: 101.5em) {
  .header__action {
    -webkit-column-gap: clamp( 0.9375rem , 0.7074386503rem  +  1.1503067485vw , 1.875rem );
       -moz-column-gap: clamp( 0.9375rem , 0.7074386503rem  +  1.1503067485vw , 1.875rem );
            column-gap: clamp( 0.9375rem , 0.7074386503rem  +  1.1503067485vw , 1.875rem );
  }
}
@media (max-width: 20em) {
  .header__action {
    -webkit-column-gap: 0.9375rem;
       -moz-column-gap: 0.9375rem;
            column-gap: 0.9375rem;
  }
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0.375rem;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media (max-width: 61.99875em) {
  .menu__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    padding: 7.5rem 0.9375rem 0rem 0rem;
  }
}
.menu__link {
  text-transform: capitalize;
  color: #BFBFBF;
  font-size: 1.125rem;
  -webkit-transition: background-color 0.3s, color 0.3s;
  transition: background-color 0.3s, color 0.3s;
}
@media (max-width: 61.99875em) {
  .menu__link {
    padding-block: 1.5rem;
    font-size: 1.5rem;
  }
}
@media (min-width: 61.99875em) {
  .menu__link {
    border-radius: 0.5rem;
    border: 0.0625rem solid #141414;
  }
}
@media (min-width: 61.99875em) and (min-width: 101.5em) {
  .menu__link {
    padding-block: 0.875rem;
  }
}
@media (min-width: 61.99875em) and (min-width: 20em) and (max-width: 101.5em) {
  .menu__link {
    padding-block: clamp( 0.625rem , 0.5636503067rem  +  0.3067484663vw , 0.875rem );
  }
}
@media (min-width: 61.99875em) and (max-width: 20em) {
  .menu__link {
    padding-block: 0.625rem;
  }
}
@media (min-width: 61.99875em) and (min-width: 101.5em) {
  .menu__link {
    padding-inline: 1.5rem;
  }
}
@media (min-width: 61.99875em) and (min-width: 20em) and (max-width: 101.5em) {
  .menu__link {
    padding-inline: clamp( 0.75rem , 0.5659509202rem  +  0.9202453988vw , 1.5rem );
  }
}
@media (min-width: 61.99875em) and (max-width: 20em) {
  .menu__link {
    padding-inline: 0.75rem;
  }
}
.menu__link:hover {
  color: #fff;
}
@media (min-width: 61.99875em) {
  .menu__link:hover {
    background-color: #1A1A1A;
  }
}
.menu__link.active {
  color: #fff;
}
@media (min-width: 61.99875em) {
  .menu__link.active {
    background-color: #1A1A1A;
  }
}

.action__item svg {
  width: 28px;
  aspect-ratio: 1;
}
@media (max-width: 61.99875em) {
  .action {
    margin-left: auto;
  }
  .action__item svg {
    width: 24px;
  }
}

/*=hero============================*/
.page__hero {
  -webkit-padding-after: 11.25rem;
          padding-block-end: 11.25rem;
}
@media (min-width: 101.5em) {
  .page__hero {
    -webkit-padding-after: 11.25rem;
            padding-block-end: 11.25rem;
  }
}
@media (min-width: 20em) and (max-width: 101.5em) {
  .page__hero {
    -webkit-padding-after: clamp( 4.375rem , 2.6878834356rem  +  8.4355828221vw , 11.25rem );
            padding-block-end: clamp( 4.375rem , 2.6878834356rem  +  8.4355828221vw , 11.25rem );
  }
}
@media (max-width: 20em) {
  .page__hero {
    -webkit-padding-after: 4.375rem;
            padding-block-end: 4.375rem;
  }
}
@media (min-width: 101.5em) {
  .page__hero {
    -webkit-padding-before: 10.625rem;
            padding-block-start: 10.625rem;
  }
}
@media (min-width: 20em) and (max-width: 101.5em) {
  .page__hero {
    -webkit-padding-before: clamp( 6.25rem , 5.1763803681rem  +  5.3680981595vw , 10.625rem );
            padding-block-start: clamp( 6.25rem , 5.1763803681rem  +  5.3680981595vw , 10.625rem );
  }
}
@media (max-width: 20em) {
  .page__hero {
    -webkit-padding-before: 6.25rem;
            padding-block-start: 6.25rem;
  }
}

.hero__inner {
  padding: 3.125rem 3.125rem 1.25rem;
  border-radius: 0.75rem;
  border: 1px solid #262626;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
  width: 100%;
  height: 100svh;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
.hero__image {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0rem;
  left: 0;
  z-index: -1;
  overflow: hidden;
}
.hero__image::after {
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
  background: -webkit-gradient(linear, left bottom, left top, from(#141414), to(rgba(20, 20, 20, 0)));
  background: linear-gradient(0deg, #141414 0%, rgba(20, 20, 20, 0) 100%);
}
.hero__image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.hero__content {
  text-align: center;
  max-width: 74.625rem;
}
.hero__title:not(:last-child) {
  margin-bottom: 0.25rem;
}
.hero__text {
  color: rgba(153, 153, 153, 0.6);
  font-size: 1.125rem;
}
.hero__text:not(:last-child) {
  margin-bottom: 1.875rem;
}
.hero__choice {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 1.25rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media (min-width: 101.5em) {
  .hero__choice:not(:last-child) {
    margin-bottom: 3.125rem;
  }
}
@media (min-width: 20em) and (max-width: 101.5em) {
  .hero__choice:not(:last-child) {
    margin-bottom: clamp( 1.875rem , 1.5682515337rem  +  1.5337423313vw , 3.125rem );
  }
}
@media (max-width: 20em) {
  .hero__choice:not(:last-child) {
    margin-bottom: 1.875rem;
  }
}
.hero__block {
  display: block;
}

.choice__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 0.625rem;
     -moz-column-gap: 0.625rem;
          column-gap: 0.625rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.choice__icon {
  padding: 0.875rem;
  border-radius: 0.5rem;
  border: 1px solid #262626;
  background-color: #0F0F0F;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.choice__icon svg {
  width: 1.5625rem;
  height: 1.5625rem;
  -o-object-fit: contain;
     object-fit: contain;
}

/*=movies=============================*/
.movies__container {
  border-radius: 0.75rem;
  border: 1px solid #262626;
  padding: 3.125rem;
}
.movies__button {
  -webkit-transform: translateY(-70px);
      -ms-transform: translateY(-70px);
          transform: translateY(-70px);
}
/*=genres============================*/
@media (min-width: 101.5em) {
  .movies__genres {
    -webkit-padding-after: 6.25rem;
            padding-block-end: 6.25rem;
  }
}
@media (min-width: 20em) and (max-width: 101.5em) {
  .movies__genres {
    -webkit-padding-after: clamp( 2.5rem , 1.5797546012rem  +  4.6012269939vw , 6.25rem );
            padding-block-end: clamp( 2.5rem , 1.5797546012rem  +  4.6012269939vw , 6.25rem );
  }
}
@media (max-width: 20em) {
  .movies__genres {
    -webkit-padding-after: 2.5rem;
            padding-block-end: 2.5rem;
  }
}

@media (min-width: 101.5em) {
  .genres__block:not(:last-child) {
    margin-bottom: 3.125rem;
  }
}
@media (min-width: 20em) and (max-width: 101.5em) {
  .genres__block:not(:last-child) {
    margin-bottom: clamp( 1.875rem , 1.5682515337rem  +  1.5337423313vw , 3.125rem );
  }
}
@media (max-width: 20em) {
  .genres__block:not(:last-child) {
    margin-bottom: 1.875rem;
  }
}
.genres__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: auto;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media (min-width: 101.5em) {
  .genres__items {
    -webkit-column-gap: 1.875rem;
       -moz-column-gap: 1.875rem;
            column-gap: 1.875rem;
  }
}
@media (min-width: 20em) and (max-width: 101.5em) {
  .genres__items {
    -webkit-column-gap: clamp( 0.9375rem , 0.7074386503rem  +  1.1503067485vw , 1.875rem );
       -moz-column-gap: clamp( 0.9375rem , 0.7074386503rem  +  1.1503067485vw , 1.875rem );
            column-gap: clamp( 0.9375rem , 0.7074386503rem  +  1.1503067485vw , 1.875rem );
  }
}
@media (max-width: 20em) {
  .genres__items {
    -webkit-column-gap: 0.9375rem;
       -moz-column-gap: 0.9375rem;
            column-gap: 0.9375rem;
  }
}
.genres__item {
  -ms-flex-preferred-size: 17.25rem;
      flex-basis: 17.25rem;
  aspect-ratio: 276/342;
  padding: 1.875rem;
  background-color: #1A1A1A;
  border-radius: 0.75rem;
  border: 1px solid #262626;
}
.genres__body {
  display: grid;
  grid-template-columns: repeat(2, minmax(4.6875rem, 1fr));
  gap: 0.3125rem;
  position: relative;
}
.genres__body::after {
  content: "";
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(26, 26, 26, 0)), color-stop(101.79%, #1A1A1A));
  background: linear-gradient(180deg, rgba(26, 26, 26, 0) 0%, #1A1A1A 101.79%);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
}
.genres__card {
  aspect-ratio: 105/123;
  border-radius: 0.625rem;
  overflow: hidden;
  max-width: 6.5625rem;
}
.genres__card img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  overflow: hidden;
}
.genres__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-column-gap: 0.625rem;
     -moz-column-gap: 0.625rem;
          column-gap: 0.625rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

/*=popular============================*/
@media (min-width: 101.5em) {
  .movies__popular {
    -webkit-padding-after: 6.25rem;
            padding-block-end: 6.25rem;
  }
}
@media (min-width: 20em) and (max-width: 101.5em) {
  .movies__popular {
    -webkit-padding-after: clamp( 2.5rem , 1.5797546012rem  +  4.6012269939vw , 6.25rem );
            padding-block-end: clamp( 2.5rem , 1.5797546012rem  +  4.6012269939vw , 6.25rem );
  }
}
@media (max-width: 20em) {
  .movies__popular {
    -webkit-padding-after: 2.5rem;
            padding-block-end: 2.5rem;
  }
}

@media (min-width: 101.5em) {
  .popular__block:not(:last-child) {
    margin-bottom: 3.125rem;
  }
}
@media (min-width: 20em) and (max-width: 101.5em) {
  .popular__block:not(:last-child) {
    margin-bottom: clamp( 1.875rem , 1.5682515337rem  +  1.5337423313vw , 3.125rem );
  }
}
@media (max-width: 20em) {
  .popular__block:not(:last-child) {
    margin-bottom: 1.875rem;
  }
}
.popular__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: auto;
}
@media (min-width: 101.5em) {
  .popular__items {
    -webkit-column-gap: 1.875rem;
       -moz-column-gap: 1.875rem;
            column-gap: 1.875rem;
  }
}
@media (min-width: 20em) and (max-width: 101.5em) {
  .popular__items {
    -webkit-column-gap: clamp( 0.9375rem , 0.7074386503rem  +  1.1503067485vw , 1.875rem );
       -moz-column-gap: clamp( 0.9375rem , 0.7074386503rem  +  1.1503067485vw , 1.875rem );
            column-gap: clamp( 0.9375rem , 0.7074386503rem  +  1.1503067485vw , 1.875rem );
  }
}
@media (max-width: 20em) {
  .popular__items {
    -webkit-column-gap: 0.9375rem;
       -moz-column-gap: 0.9375rem;
            column-gap: 0.9375rem;
  }
}
.popular__item {
  -ms-flex-preferred-size: 22rem;
      flex-basis: 22rem;
  aspect-ratio: 352/378;
  padding: 1.875rem;
  background-color: #1A1A1A;
  border-radius: 0.75rem;
  border: 1px solid #262626;
}
.popular__body {
  display: grid;
  grid-template-columns: repeat(2, minmax(4.6875rem, 1fr));
  gap: 0.625rem;
  position: relative;
}
.popular__body::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(26, 26, 26, 0)), color-stop(101.79%, #1A1A1A));
  background: linear-gradient(180deg, rgba(26, 26, 26, 0) 0%, #1A1A1A 101.79%);
}
.popular__card {
  aspect-ratio: 141/121;
  border-radius: 0.25rem;
  overflow: hidden;
}
.popular__card img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.popular__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-column-gap: 1.25rem;
     -moz-column-gap: 1.25rem;
          column-gap: 1.25rem;
}

/*=trending=============================*/
@media (min-width: 101.5em) {
  .movies__trending {
    -webkit-padding-after: 6.25rem;
            padding-block-end: 6.25rem;
  }
}
@media (min-width: 20em) and (max-width: 101.5em) {
  .movies__trending {
    -webkit-padding-after: clamp( 2.5rem , 1.5797546012rem  +  4.6012269939vw , 6.25rem );
            padding-block-end: clamp( 2.5rem , 1.5797546012rem  +  4.6012269939vw , 6.25rem );
  }
}
@media (max-width: 20em) {
  .movies__trending {
    -webkit-padding-after: 2.5rem;
            padding-block-end: 2.5rem;
  }
}

@media (min-width: 101.5em) {
  .trending__block:not(:last-child) {
    margin-bottom: 3.125rem;
  }
}
@media (min-width: 20em) and (max-width: 101.5em) {
  .trending__block:not(:last-child) {
    margin-bottom: clamp( 1.875rem , 1.5682515337rem  +  1.5337423313vw , 3.125rem );
  }
}
@media (max-width: 20em) {
  .trending__block:not(:last-child) {
    margin-bottom: 1.875rem;
  }
}
.trending__items {
  display: grid;
  grid-template-columns: repeat(5, minmax(14.375rem, 1fr));
  overflow: auto;
}
@media (min-width: 101.5em) {
  .trending__items {
    gap: 1.25rem;
  }
}
@media (min-width: 20em) and (max-width: 101.5em) {
  .trending__items {
    gap: clamp( 0.75rem , 0.6273006135rem  +  0.6134969325vw , 1.25rem );
  }
}
@media (max-width: 20em) {
  .trending__items {
    gap: 0.75rem;
  }
}
.trending__item {
  max-width: 17.75rem;
  border-radius: 0.75rem;
  aspect-ratio: 284/377;
  padding: 1.25rem;
  background-color: #1A1A1A;
  border: 1px solid #262626;
}
.trending__card {
  max-width: 244px;
  aspect-ratio: 244/281;
  border-radius: 0.75rem;
  overflow: hidden;
}
.trending__card:not(:last-child) {
  margin-bottom: 1.25rem;
}
.trending__card img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.trending__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 0.5rem;
     -moz-column-gap: 0.5rem;
          column-gap: 0.5rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.info {
  font-weight: 500;
}
.info__duration {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 0.25rem;
     -moz-column-gap: 0.25rem;
          column-gap: 0.25rem;
  border-radius: 51px;
  border: 1px solid #262626;
  background: #141414;
  padding: 0.375rem 0.625rem 0.375rem 0.375rem;
}
.info__duration::before {
  content: "";
  background: url(../img/trending/info.svg) 0 0/cover no-repeat;
  width: 1.25rem;
  height: 1.25rem;
}
.info__duration span {
  white-space: nowrap;
}
.info__view {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 0.25rem;
     -moz-column-gap: 0.25rem;
          column-gap: 0.25rem;
  border-radius: 51px;
  border: 1px solid #262626;
  background: #141414;
  padding: 0.375rem 0.625rem 0.375rem 0.375rem;
}
.info__view::before {
  content: "";
  background: url(../img/trending/viewer.svg) 0 0/cover no-repeat;
  width: 1.375rem;
  height: 1.0625rem;
}

/*=new=============================*/
@media (min-width: 101.5em) {
  .new__block:not(:last-child) {
    margin-bottom: 3.125rem;
  }
}
@media (min-width: 20em) and (max-width: 101.5em) {
  .new__block:not(:last-child) {
    margin-bottom: clamp( 1.875rem , 1.5682515337rem  +  1.5337423313vw , 3.125rem );
  }
}
@media (max-width: 20em) {
  .new__block:not(:last-child) {
    margin-bottom: 1.875rem;
  }
}
.new__items {
  display: grid;
  grid-template-columns: repeat(5, minmax(14.375rem, 1fr));
  overflow: auto;
}
@media (min-width: 101.5em) {
  .new__items {
    gap: 1.25rem;
  }
}
@media (min-width: 20em) and (max-width: 101.5em) {
  .new__items {
    gap: clamp( 0.75rem , 0.6273006135rem  +  0.6134969325vw , 1.25rem );
  }
}
@media (max-width: 20em) {
  .new__items {
    gap: 0.75rem;
  }
}
.new__item {
  border-radius: 0.75rem;
  aspect-ratio: 284/377;
  padding: 1.25rem;
  background-color: #1A1A1A;
  border: 1px solid #262626;
}
.new__card {
  border-radius: 0.75rem;
  overflow: hidden;
  max-width: 244px;
  aspect-ratio: 244/281;
}
.new__card:not(:last-child) {
  margin-bottom: 1.25rem;
}
.new__card img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.info__release {
  color: #999999;
  text-align: center;
}
.info__release time {
  color: #BFBFBF;
}

/*=footer============================*/
.footer__container {
  min-height: 5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}