@import url('https://fonts.googleapis.com/css?family=Manrope:regular,600,700&display=swap');
@import url('reset.css');

body {
    font-family: 'Montserrat', serif;
    font-size: 18px;   
}
[class*='page__'] {
    padding: 30px;
}
[alt] {
    color: red;
}
/*=header=============================*/
.header {
    padding-block: 3%;
}
.menu__list {
    text-align: center;
}
.menu__item {
    margin-bottom: 15px;
}
.menu__link {
    color: #091133;
    font-size: 35px;
}
/*=hero================================*/
.page__hero {
    background-color: rgba(111, 124, 178, 0.3);
}
.hero__title {
    font-size: 68px;
    line-height: 1.3;
    font-weight: 700;
    text-align: center;
    margin-bottom: 15px;
}
.hero__text p  {
    margin-bottom: 10px;
}
/*=about================================*/
.page__about {
}
.about {}
.about__title {
    font-size: 36px;
    line-height: 1.2;
    font-weight: 500;
    margin-bottom: 14px;
}
.about__text {
    max-width: 700px;
    max-height: 150px;
    overflow: auto;
    padding: 20px 15px 5px;
    margin: 0 auto;
    background-color: #dfd4d4;
}
.about__text p {
    margin-bottom: 10px;
}
/*introduce==============================*/
.page__introduce {
    font-family: 'Roboto', sans-serif;
    max-width: 540px;
}
.introduce__title {
    font-size: 50px;
    font-weight: 500;
    line-height: 1.32; /* 66/50 */
    color: #091133;
    margin-bottom: 20px;
}
.introduce__text {
    color: #505F98;
    line-height: 1.67; /* 30/18 */
    margin-bottom: 70px;
}
.introduce__text p {
    margin-bottom: 12px;
}
.introduce__buttons {}

.introduce__button {
    font-size: 16px;
    line-height: 1.62; /* 26/16 */
    font-weight: 500;
    color: #111B47;
    padding: 3px 10px;
    border: 2px solid #111B47;
    min-width: 190px;
    text-align: center;
}
.introduce__button-colored {
    margin-right: 30px;
    background-color: #111B47;
    color: #FFFFFF;
}

/*=devices===============================*/
.devices {
    font-family: 'Manrope', sans-serif;
    background-color: #1E1E1E;
    color: #999999;
    line-height: 1.5;
}
.devices__title {
    font-weight: 700;
    font-size: 38px;
    color: #FFFFFF;
    margin-bottom: 14px;
}
.devices__text {
    margin-bottom: 80px;
}
.devices__items {
    margin: -15px;
    font-size: 0;
}
.devices__item {

}
.item-devices {
    padding: 15px;
    width: 33.333%;
    display: inline-block; 
}
.item-devices__inner {
    padding: 50px;
    background-color: #0F0F0F;
}
.item-devices__top {
    margin-bottom: 30px;
}
.item-devices__img {
    padding: 16px;
    background-color: #1F1F1F;
    display: inline-block;
    border-radius: 12px;
    margin-right: 16px;
    vertical-align: middle;
}
.item-devices__img img {
}
.item-devices__title {
    font-size: 24px;
    font-weight: 600;
    color: #FFFFFF;
    display: inline-block;
}
.item-devices__body {
    font-size: 18px;
}

/*=design============================*/
.page__design {
    font-family: 'Roboto', sans-serif;
    max-width: 520px;
}
.design__container {}

.design__title {
    font-size: 36px;
    line-height: 1.33; /* 48/36 */
    font-weight: 500;
    color: #091133;
    margin-bottom: 16px;
}
.design__text {
    color: #6F7CB2;
    line-height: 1.63; /* 26/16 */
    margin-bottom: 70px;
}
.design__items {
    margin: -15px;
    font-size: 0;
}
.item-design {
    padding: 15px;
    width: 50%;
    display: inline-block;
}
.item-design img {
    margin-bottom: 14px;
}
.item-design__title {
    color: #091133;
    margin-bottom: 6px;
    font-weight: 500;
    line-height: 1.63; /* 26/16 */
    font-size: 16px;
}
.item-design__text {
    font-size: 12px;
    color: #5D6970;
    line-height: 1.5;
}
/*=guarantee============================*/
.page__guarantee {}

.guarantee {}
.guarantee__container {
    background-color: #142257;
    color: #FFFFFF;
    padding: 64px 20px;
}
.guarantee__title {
    font-size: 36px;
    line-height: 1.3;
    margin-bottom: 60px;
    text-align: center;
}

.guarantee__items {
    margin-inline: -30px;
    font-size: 0;
}

.guarantee__item {
    padding-inline: 30px;
    width: 50%;
    display: inline-block;
    margin-bottom: 60px;
}

.guarantee__content {}
.guarantee__img {
    vertical-align: middle;
    margin-bottom: 24px;
    margin-right: 12px;
}
.guarantee__lable {
    font-size: 24px;
    line-height: 1.33; /* 32/24 */
    display: inline-block;
}
.guarantee__text {
    color: #9EA3B5;
    font-size: 18px;
}

/*=footer============================*/
.footer {
    text-align: center;  
}

