
@import url('https://fonts.googleapis.com/css?family=Work+Sans:regular,500,600&display=swap');
@import url('fonts.css');
@import url('reset.css');

body { 
    font-family: 'Work Sans', sans-serif;
    height: 100vh;
    line-height: 1.33;

}
[class*='__container'] {
    max-width: 84.375rem;
    margin: 0 auto;
    padding: 0 0.9375rem;
}

[class*='__title'] {
    color: #132238;
    font-weight: 600;
}

.wrapper {
    min-height: 100%;
    overflow: clip;
    display: flex;
    flex-direction: column;
}
.page {
    flex: 1 0 auto;
}

.title {
    /* font-size: 3rem; */
    font-size: clamp(2.125rem, 3.6363vw, 3rem) ;
    line-height: 1.167; /* 56/48 */

}

.title--white {
    color: #fff;
}

.text {
    font-size: 1.125rem;
    /* line-height: 1.33; */
    color: #556070;
}

.text--white {
    color: #fff;
}

.text p:not(:last-child){
    margin-bottom: 1rem;
}

.button {
    background-color: #A53DFF;
    color: #fff;
    padding: 0.75rem 1.5rem;
    border-radius: 0.25rem;
    line-height: 1.5; /* 24/16 */
    font-weight: 600;
    text-transform: capitalize;
    border: 0.0625rem solid #A53DFF;
    transition: background-color 0.3s;
    
}

.button:hover {
    background-color: rgb(73, 10, 129);
}
.caption-block {
    text-align: center;
}

.caption-block__title:not(:last-child) {
    margin-bottom: 1.5rem;
}
/*=header=============================*/


.header {
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    height: 6rem;
    z-index: 50;
}

.header::before {
    content: '';
    position: fixed;
    width: 100%;
    height: 6rem;
    top: 0;
    left: 0;
    background-color: #fff;
    z-index: 1;
}

.header__container {
    display: flex;
    align-items: center;
    min-height: 6rem;
    
    column-gap: 1.875rem;
    padding-block: 0.3125rem;
    position: relative;
    z-index: 2;
}

.header__logo {
    position: relative;
    z-index: 5;
}

.header__logo img{
    width: 100%;
    object-fit: cover;
}

/* .header__menu {
    margin-left: auto;
} */

.menu__list {
    display: flex;
    column-gap: 3rem;
    row-gap: 0.625rem;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

}

.menu__item {}

.menu__link {
    transition: color 0.3s;
}

.menu__link:hover {
    color:#8917ed;
}

.header__burger {
    display: none;
}

.header__button {
    font-size: 0.875rem;
    line-height: 1;
    font-weight: 900;
    text-transform: uppercase;
    text-align: center;
    padding: 1rem 2.375rem;
    border-radius: 0.375rem;
    transition: background-color 0.3s;
    position: relative;
    z-index: 5;
    
}

/* .header__button:hover {
    background-color: #ae80d7;
} */
/*=hero============================*/
.page__hero {
    padding-block: 10rem 5rem;
    
}


.hero {
}

.hero__container {
    display: flex;
    justify-content: space-between;
    gap: 0.5rem;
    flex-wrap: wrap;
    position: relative;
    align-items: flex-start;
}

.hero__container::before {
    position: absolute;
    content: '';
    border-radius: 50%;
    background: rgba(218, 77, 241, 0.40);
    filter: blur(18.75rem);
    width: 54.4508rem;
    height: 54.4508rem;
    top: -137%;
    right: -39%;
    z-index: -1;
}

.hero__container::after {
    position: absolute;
    content: '';
    border-radius: 50%;
    background: rgba(196, 245, 233, 0.70);
    filter: blur(18.75rem);
    width: 65.2698rem;
    height: 65.2698rem;
    top: 29%;
    right: -77%;
    z-index: -1;
}

.hero__content {
    /* padding-block-start: 3.25rem; */
    /* flex-basis: 49%; */
    flex: 0 1 49.09%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    row-gap: 2rem;
}

.hero__body {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    

}

.hero__title {
    font-size: 4.125rem;
    font-size: clamp(2.875rem, 5.5vw, 4.5rem);
    line-height: 1.166;

}

.hero__text {
}

.hero__text span {
    position: relative;
    color: #132238;
}

.hero__text span::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 0.375rem;
    background-color: #FFC8C8;
    bottom: 0.3125rem;
    left: 0;
    z-index: -1;
}

.hero__button {
    width: fit-content;
}

.hero__items {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    gap: 0.1875rem;
}

.hero__items {
    /* display: flex;
    gap: 0.9375rem 0.1875rem; */
    /* flex-wrap: wrap; */
} 

.hero__item {
    flex: 0 1 13.375rem;
    text-align: center;
    background-color:#EDD8FF;
    border-radius: 0.375rem;
    padding: 1.0625rem 0.75rem;
}

.hero__value {
    color: #424E60;
    font-size: 2rem;
    line-height: 1.25;
}

.hero__value:not(:last-child) {
    margin-bottom: 0.5rem;
    font-weight: 600;
}

.hero__label {
    color: #697484;
    line-height: 1.5;
}

.hero__image {
    /* flex: 0 1 33.5rem; */
    flex: 0 1 40.6%;
    aspect-ratio: 536 / 636;
    background-color: #fff;
    border-radius: 1.5625rem;

}

.hero__image img {
    width: 100%;
    height: 100%;
    object-fit: cover;

}

/*=================================*/
.page__about {
}
.about {
}

.about__container {

    background-color: #fff;
    border-radius: 1rem;
    box-shadow: 0rem 2.25rem 6.5625rem 0rem rgba(43, 56, 76, 0.10);
    position: relative;
}

.about__container::before {
    position: absolute;
    content: '';
    width: 33.8125rem;
    height: 14.125rem;
    transform: rotate(-30deg);
    border-radius: 50%;
    background: linear-gradient(182deg, #FFDFA8 -157.44%, rgba(255, 226, 176, 0.96) -157.4%, rgba(255, 234, 198, 0.67) 216.94%, rgba(250, 211, 144, 0.80) 216.94%);
    filter: blur(6.25rem);
    z-index: -1;
    bottom: 15.38%;
    left: -28.5%;
}

.about__container::after {
    position: absolute;
    content: '';
    width: 92.5625rem;
    height: 92.5625rem;
    border-radius: 50%;
    background: linear-gradient(182deg, rgba(255, 234, 198, 0.20) -157.44%, rgba(255, 234, 198, 0.14) 216.94%, rgba(255, 234, 198, 0.13) 216.94%);
    filter: blur(21.875rem);
    z-index: -1;
    top: -15.38%;
    left: 0;
}

.about__inner {
    padding: 3rem 0rem 2rem;
    display: flex;
    column-gap: clamp(2rem, -9.156rem + 20.93vw, 8.5rem);
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap-reverse;

}

.about__block {
    flex: 1 0 38.69%;
}

.about__image {
    width: 100%;
    aspect-ratio: 424 / 468;
    background-color: #F0F1F3;
    border-radius: 0.625rem;
    overflow: hidden;
}

.about__image img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.about__content {
    /* flex: 0 1 48.9%; */
    flex: 1 0 48.9%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.about__title {
    /* font-size: 2.375rem; */
    font-size: clamp(2rem, 2.879vw, 2.375rem);
    line-height: 1.315; /* 50/38 */
}


.about__buttons {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}
.about__button {
}

.button--transparent {
    background-color: transparent;
    color: #A53DFF;
    display: flex;
    align-items: center;
    justify-content: center;
    display: inline-flex;
    gap: 0.75rem;
    padding-block: 0.6875rem;
    transition: color 0.3s;
}

.button--transparent:hover {
    /* color: #fff; */
    background-color: rgb(165, 61, 255, 0.1);
}

.about__button span:after {
    content: '';
    background: url(../img/about/vector.svg) center no-repeat;
    width: 1.25rem;
    height: 1.25rem;
}

.about__social {
    display: flex;
    max-width: 16.5rem;
    padding: 0.75rem;
    background-color: #fff;
    border-radius: 0.25rem;
    justify-content: center;
    transform: translateY(-50%);
    align-items: center;
    margin: 0 auto;
    box-shadow: 0rem 0.75rem 4rem 0rem rgba(28, 25, 25, 0.12);
}


.social__item {
    flex-basis: 3rem;
}

.social__link {
    display: flex;
    width: 100%;
    aspect-ratio: 1;
    padding: 0.9375rem;
    padding: clamp(0.5rem, 0.364rem + 0.68vw, 0.938rem);
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius: 0.25rem;
    transition: background-color 0.3s, fill 0.3s;
}

.social__link svg {
    max-width: 1.25rem;
    /* min-width: 0.5rem; */
    width: 100%;
    aspect-ratio: 1;
    object-fit: contain;
}

.social__link:hover{
    background-color: #A53DFF;
    /* border-radius: 0.25rem; */
}

.social__link:hover svg path {
    fill: #fff;
} 



/*=work============================*/
.page__work {
    background-color: #F0F1F3;
    padding-block: 5rem;
   
}

.work__title:not(:last-child) {
    margin-bottom: 1.5rem;
}

.work__container {
    display: flex;
    /* gap: 1rem; */
    column-gap: clamp(1.875rem, -17.695rem + 31.56vw, 8.938rem);
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.work__content {
    flex: 0 1 40.08%;
}

.work__items {
    flex: 0 1 49%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(14rem, 1fr));
    column-gap: 1.5rem;
    /* row-gap: 1.5rem; */
    
}

.work__item {
    padding: 2rem;
    background-color: #fff;
    border-radius: 0.75rem;
    transition: all 0.3s;

}



.work__icon {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.25rem;
    border-radius: 0.75rem;
    background-color: #EDD8FF;
    max-width: 4.5rem;
    width: 100%;
    aspect-ratio: 1;
    overflow: hidden;
    transition: all 0.3s;
}

.work__icon:not(:last-child) {
    margin-bottom: 2rem;
}

.work__icon svg {
    max-width: 2rem;
    width: 100%;
    aspect-ratio: 1;
    object-fit: contain;
}

.work__item:hover .work__icon{
    background-color: #A53DFF;
}

.work__item:hover {
    box-shadow: 2rem 2rem 7.75rem 0rem rgba(43, 56, 76, 0.10);
}

.work__item:hover svg path {
    fill: #ffff;
}

.work__lable {
    font-size: 1.25rem;
    line-height: 1.2; /* 24/20 */
    font-weight: 600;
}

.work__lable:not(:last-child) {
    margin-bottom: 0.75rem;
}

.work__text {
}

/*=portfolio=============================*/
.page__portfolio {
}
.portfolio {
}

.portfolio__container {
    padding-block: 5rem;
}

.portfolio__caption {
    max-width: 36.0625rem;
    margin: 0 auto;
}

.portfolio__caption:not(:last-child) {
    margin-bottom: 4.375rem;
}


.portfolio__title:not(:last-child) {
    /* margin-bottom: 0.75rem; */
}


.portfolio__text {
    font-size: 0.875rem;
    line-height: 1.423; /* 20/14 */
}

.portfolio__items {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(19.8125rem,1fr));
    /* grid-template-columns: repeat(auto-fill, minmax(16.875rem,1fr)); */
    gap: 1.5rem;
}

.portfolio__items:not(:last-child) {
    margin-bottom: 3.125rem;
}

.portfolio__item {
    border: 0.0625rem solid #E6E8EB;
    box-shadow: 0rem 0.75rem 4rem 0rem rgba(28, 25, 25, 0.12);
    display: flex;
    flex-direction: column;
}

.portfolio__image {
    /* max-width: 26.5rem; */
    width: 100%;
    aspect-ratio: 424 / 248;
}

.portfolio__image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.portfolio__body {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.body-portfolio {
}

.body-portfolio__lable {
    text-transform: uppercase;
    font-size: 0.75rem;
    font-weight: 500;
}

.body-portfolio__lable:not(:last-child) {
    margin-bottom: 0.25rem;
}

.body-portfolio__title {
    font-size: 1.125rem;
    /* line-height: 1.33;  */
}

.body-portfolio__title:not(:last-child) {
    margin-bottom: 0.75rem;
} 

.body-portfolio__link:hover {
    text-decoration: underline;
}

.body-portfolio__text {
    flex-grow: 1;
}

.body-portfolio__text:not(:last-child) {
    margin-bottom: 1.25rem;
}

.body-portfolio__button {
    width: fit-content;
}

.body-portfolio__button span:after {
    content: '';
    background: url(../img/portfolio/arrow.svg) center no-repeat;
    width: 0.75rem;
    height: 0.75rem;
}

.button--transparent {
}

/* .portfolio__button {
    display: block;
    width: fit-content;
    margin: 0 auto;
    
} */
/*==action===========================*/
.page__action {
    background-color: #132238;
    /* color: #ffff; */
    padding-block: 6.25rem;
}

.action__container {
}

.action__caption {
    text-align: center;
    color: #ffff;
    max-width: 38.6875rem;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.action__caption:not(:last-child) {
    margin-bottom: 2rem;
}

.action__button {
    display: block;
    width: fit-content;
    margin: 0 auto;
}


.action__button span:after {
    content: '';
    background: url(../img/action/arrow_white.svg) center no-repeat;
    width: 0.75rem;
    height: 0.75rem;
    margin-left: 0.75rem;
    
}
/*=blog=============================*/
.page__blog {
    padding-block: 6.25rem;
}

.blog__container {
    position: relative;
}

.blog__container:after {
    position: absolute;
    content: '';
    width: 65.2698rem;
    height: 65.2698rem;
    /* transform: rotate(-130.444deg); */
    border-radius: 50%;
    background: rgba(196, 245, 233, 0.70);
    filter: blur(18.75rem);
    bottom: 20.66%;
    right: -85%;
    z-index: -1;
}

.blog__container:before {
    position: absolute;
    content: '';
    width: 54.4508rem;
    height: 54.4508rem;
    /* transform: rotate(-130.444deg); */
    border-radius: 50%;
    background: rgba(218, 77, 241, 0.40);
    filter: blur(15.625rem);
    bottom: 57.78%;
    left: -78.25%;
    z-index: -1;
}

.blog__caption {
    max-width: 33.75rem;
    margin: 0 auto;
}

.blog__caption:not(:last-child) {
    margin-bottom: 4.375rem;
}

.caption-block {
}
.caption-block__title {
}
.title {
}
.title--white {
}
.caption-block__text {
}
.text {
}
.text--white {
}

.blog__items {
    display: grid;
    /* grid-template-columns: repeat(4, minmax(9.375rem, 19.5rem)); */
    grid-template-columns: repeat(auto-fill, minmax(16.875rem, 1fr));
    gap: 1.5rem;
}

.blog__item {
    /* width: 100%; */
    border: 0.0625rem solid #F0F1F3;
    border-radius: 0.5rem;
    box-shadow: 0rem 0.75rem 4rem 0rem rgba(28, 25, 25, 0.12);
}


.blog__link {
    width: 100%;
    /* aspect-ratio: 312 / 226; */
}


.blog__image {
    /* width: 100%; */
    aspect-ratio: 312 / 226;
}

.blog__image img {
    width: 100%;
    object-fit: cover;
}

.blog__body {
    padding: 1.5rem;
}


.body-blog__lable {
    color: #87909D;
    font-size: 0.875rem;
    line-height: 1.42; /* 20/14 */
}

.body-blog__lable:not(:last-child) {
    margin-bottom: 0.5rem;
}

.body-blog__text {
    color: #333333;
    font-size: 1.125rem;
}
/*=what============================*/
.page__what {
    padding-block: 9.375rem;
    background-color: #F0F1F3;
}

/* .what__container {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    align-items: center;
} */

.what__content:not(:last-child) {
    margin-bottom: 2rem;
}

.what__title:not(:last-child) { 
    margin-bottom: 1.5rem;
}

.what__text {
}

.what__text:not(:last-child) {
    margin-bottom: 3.125rem;
}

.what__button {
}


.what__item {
    background-color: #fff;
    border-radius: 0.375rem;
    padding: 2rem;
    /* max-width: 40.5rem; */
    width: 100%;
    transition: all 0.3s;
    border-left: 0.3125rem solid transparent;
}

.what__item:hover {
    box-shadow: 0rem 2rem 6rem 0rem rgba(28, 25, 25, 0.16);
    border-left: 0.3125rem solid #A53DFF;
}

.what__item--colored {
    
}

.what__item:not(:last-child) {
    margin-bottom: 1.5rem;
}

.what__lable {
    font-size: 1.5rem;
    line-height: 1;
    color: #132238;
    font-weight: 600;
}

.what__lable:not(:last-child) {
    margin-bottom: 1rem;
}
/*=clients============================*/
.page__clients {
    padding-block: 5rem;
    /* background-color: #E5E5E5; */
}

.clients__container {
}

.clients__content {
    text-align: center;
    max-width: 36.0625rem;
    margin: 0 auto;
}

.clients__content:not(:last-child) {
    margin-bottom: 1.5rem;
}

.clients__title:not(:last-child) {
    margin-bottom: 1.5rem;
}

.clients__text {
}

.clients__items {
    display: flex;
    justify-content: space-between;
    gap: 1.5rem;
    flex-wrap: wrap;
    padding-block: 2.9688rem;
}

.clients__link { 
    display: flex;
    flex: 1 1 12.5rem;
    padding: 1.875rem;
    align-items: center;
    justify-content: center;
}

.clients__link span {
    background-color: #006699;
    border-radius: 0.25rem;
    width: 2.3125rem;
    height: 2.3125rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 0.3125rem;
}

.clients__link svg {
    max-width: 12.5rem;
    max-height: 12.5rem;
    object-fit: contain;
    
}

.clients__link  svg path{
    transition: all 0.3s;
}

.clients__link:hover svg path{
    fill: #000;
}

.clients__link:hover span path{
    fill: #B8BCC2;
}

/*testimonial========================*/
.page__testimonial {
    padding-block-end: 5rem;
}

.testimonial__container {
    text-align: center;
}

.testimonial__title {
}

.testimonial__title:not(:last-child) {
    margin-bottom: 1.5rem;
}

.testimonial__text {
    max-width: 36.0625rem;
    margin: 0 auto;
}

.testimonial__text:not(:last-child) {
    margin-bottom: 4.375rem;
}

.testimonial__blockquote {
    max-width: 54.5rem;
    margin: 0 auto;
}

.testimonial__blockquote:not(:last-child) {
    margin-bottom: 1.5rem;
    font-size: 1.125rem;
    font-weight: 500;
    color: #2B384C;
}

.testimonial__autor {
    color: #000;
    font-size: 1.125rem;
    line-height: 1.44;
    font-weight: 500;
}

.testimonial__autor:not(:last-child) {
    margin-bottom: 0.5rem;
}

.testimonial__profession {
    color: #000;
}
/*=lets=============================*/
.page__lets {
}
.lets {
}

.lets__container {
    /* padding: 5.5rem; */
    background-color: #fff;
    display: flex;
    gap: 1rem;
    justify-content: space-between;
    /* align-items: center; */
    position: relative;
    border-radius: 0.9375rem;
    box-shadow: 0rem 3.6875rem 7.75rem 0rem rgba(0, 0, 0, 0.12);
}

.lets__container:after {
    position: absolute;
    content: '';
    width: 109.7%;
    aspect-ratio: 1;
    border-radius: 50%;
    bottom: -4.58%;
    right: 50%;
    transform: translateX(50%);
    /* background-color: rgb(255, 255, 0, 0.5); */
    background: linear-gradient(182deg, rgba(255, 234, 198, 0.20) -157.44%, rgba(255, 234, 198, 0.14) 216.94%, rgba(255, 234, 198, 0.13) 216.94%);
    filter: blur(21.875rem);
    z-index: -1;

}

.lets__content {
    flex: 0 1 40.97%;
}


.lets__title {
    font-size: clamp(2rem, 3.3vw, 2.375rem);
    line-height: 1.32;
}

.lets__title:not(:last-child) {
    margin-bottom: 1rem;
}

.lets__text:not(:last-child) {
    margin-bottom: 2.1875rem;
}


.lets__contacts:not(:last-child) {
    margin-bottom: 2.1875rem;
}

.contacts__item {
    display: flex;
    align-items: center;
    padding: 1.5rem;
    background-color: #fff;
    gap: 0.75rem;
    border-radius: 0.625rem;
    transition: box-shadow 0.3s;
    max-width: 21rem;
}

.contacts__item:not(:last-child) {
    margin-bottom: 0.75rem;
}

.contacts__item:hover {
    box-shadow: 0rem 0.75rem 4rem 0rem rgba(28, 25, 25, 0.12);
}

.contacts__item:hover .contacts__icon {
    background-color: #A53DFF;

}

.contacts__item:hover svg path {
    fill: #fff;
} 
.contacts__icon {
    padding: 0.75rem;
    background-color: rgb(237, 216, 255, 0.5);
    border-radius: 0.25rem;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 3rem;
    aspect-ratio: 1;
    transition: all 0.3s;
}

.contacts__icon svg {
    max-width: 100%;
    object-fit: cover;

}
.contacts__body {
}
.contacts__label {
}
.contacts__value {
}

.lets__social {
    display: flex;
    gap: 0.75rem;
}

.lets__poll {
    padding-block: 1.625rem;
    flex: 0 1 47.70%;
    /* padding-block: 1.625rem; */
}

.lets__poll > :not(:last-child) {
    margin-bottom: 3.125rem;
}

.form__line {
    display: flex;
    width: 100%;
    gap: 1.5rem;
    flex-wrap: wrap;
    font-size: 1.125rem;
}

.form__line:not(:last-child) {
    margin-bottom: 1.5rem;
}


.form__input,
.form__textarea {
    padding: 0.3125rem 0.3125rem 0.75rem;
    border-bottom: 0.0625rem solid #E6E8EB;
    width: 100%;
    color: #697484;
}

.form__input:hover,
.form__textarea:hover {
    border-bottom-color: #A53DFF;
}

.form__input:focus-visible,
.form__textarea:focus-visible {
    outline: 0.0625rem solid #A53DFF;
}

.form__input:hover::placeholder,
.form__textarea:hover::placeholder {
    color: #A53DFF;
}

.form__input--small {
    /* flex-basis: 35.71%; */
    flex: 1 0 12.5rem;
}

.form__input--middle {
    /* flex-basis: 60%; */
    flex: 1 0 60%;
}

.form__textarea {
    resize: vertical;
    min-height: 3.7125rem;
}

.poll__button {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.75rem;
    line-height: 1;

}

.poll__button span:after {
    content: '';
    background: url(../img/lets/arrow.svg) 0 0 / cover no-repeat;
    width: 1.25rem;
    height: 1.25rem;
    
}
/*=footer============================*/
.footer {
    padding-block: 3.125rem;
    background-color: #2B384C;
    color: #F0F1F3;
    /* margin-top: -5.8125rem; */
}

.footer__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-block: 2rem;
    gap: 2rem;
    flex-wrap: wrap;

}
.footer__menu {
    display: flex;
    gap: 1.5rem;
    flex-wrap: wrap;
}

.footer__logo img {
    width: 100%;
}
/*=============================*/

@media (min-width: 75em) {
    .page__hero {
        padding-block: 13.875rem;
        
    }

    .hero__container {
        align-items: flex-end;
    }

    .hero__content {
        row-gap: 8.875rem;
    }

    /* .hero__title {
        font-size: 4.5rem;
    } */

    .about__inner {
        padding: 7rem;
    }  

    .page__work {
        padding-block: 15.5rem 8.75rem;
        margin-top: -7rem;
    }
    
    .portfolio__container {
        padding-block: 6.25rem;
    }

    .page__clients {
        padding-block: 6.25rem;
    }

    .page__testimonial {
        padding-block-end: 9.875rem;
    }

    .footer {
        padding-block: 10rem 3.125rem;
        margin-top: -5.8125rem;
    }
}

 /* @media (max-width: 68.75em) {
    

    .menu__list {
        column-gap: 2rem;
    }
}    */

@media (min-width: 61.9988em) {
    .header__menu {
        margin-left: auto;
    }

    .lets__container {
        padding: 5.5rem;
    }
    
    .work__item:nth-child(odd) {
        margin-bottom: 1.5rem;
        
    }

   
    .work__item:nth-child(even) {
        margin-top: 1.5rem;
        /* align-self: end; */
    }
}

@media (max-width: 61.9998rem) {
    .header__container {
        justify-content: space-between;
    }

    .header__burger {
        display: flex;
        flex-direction: column;
        flex-basis: 1.875rem;
        flex-shrink: 0;
        order: 3;
        z-index: 5;
        position: relative;
    }

    .header__burger span,
    .header__burger::before,
    .header__burger:after {
        content: '';
        width: 100%;
        height: 0.125rem;
        background-color: #A53DFF;
        transition: all 0.3s;
    }

    .header__burger span {
        margin-block: 0.375rem;
    }

    .header__button {
        margin-left: auto;
    }

    .open-menu .header__burger span {
        width: 0;
        height: 0;
        margin-block: 0;
    }
    
    .open-menu .header__burger::before {
        transform: rotate(-45deg) translateY(0.0938rem);
    }

    .open-menu .header__burger::after {
        transform: rotate(45deg) translateY(-0.0938rem);
    }

    .header__menu {
        position: fixed;
        top: 0;
        left: 100%;
        width: 100%;
        height: 100%;
        padding: 6rem 0.9375rem 1.875rem 0;
        z-index: 2;
        overflow: auto;
        background-color: #fff;
        transition: all 0.3s;
    }

    .header__menu:after {
        content: '';
        width: 100%;
        height: 6rem;
        top: 0;
        left: 100%;
        background-color: #fff;
        position: fixed;
        z-index: 3;
        transition: all 0.3s;
    }

    .open-menu .header__menu,
    .open-menu .header__menu:after {
        left: 0;
    }

    .menu__list {
        flex-direction: column;
        gap: 2.5rem;
        align-items: flex-end;
    }

    .menu__link {
        font-size: 2rem;
        font-weight: 500;
    }

    .hero__container {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 3rem;
    }

    .hero__body {
        row-gap: 3rem;
    }

    .hero__items {
        justify-content: center;
    }

    .work__container {
        flex-direction: column;
        row-gap: 3.125rem;
    }

    .work__items {
        row-gap: 1.5rem;
    }
    
    /* .work__item {
        flex-shrink: 1;
    } */


    .lets__container {
        flex-direction: column;
        row-gap: 2rem;
        padding-block: 3rem;
    }

    .lets__contacts {
        display: flex;
        column-gap: 1.25rem;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
    }

    .footer__menu {
        display: none;
    }
}   


@media (min-width: 53.3125em) {
    .what__container {
        display: flex;
        justify-content: space-between;
        gap: 1rem;
        align-items: center;
    }
    

    .what__content {
        flex: 0 1 40%;
    }
    
    .what__items {
        flex: 0 1 49.09%;
    }

}


@media (max-width: 53.3125em) {
    .about__inner {
        flex-direction: column-reverse;
        row-gap: 2rem;
    }

    .page__work {
        padding-block: 3rem;
    }

    .portfolio__container {
        padding-block: 3rem;
    }

    .portfolio__items {
        grid-template-columns: repeat(auto-fill, minmax(16.875rem,1fr));
    }
    
    .page__action {
        padding-block: 3rem;
    }

    .page__blog {
        padding-block: 3rem;
    }

    .page__what {
        padding-block: 3rem;
    }

    .page__clients {
        padding-block: 3rem;
    }

    .clients__items {
        gap: 1rem;
    }

    .clients__link {
        padding: 1rem;
    }


}

@media (max-width: 30em) {
    .logo {
        max-width: 180px;
        flex-basis: 180px;
    }

    .hero__button,
    .about__button,
    .body-portfolio__button,
    .portfolio__button,
    .what__button,
    .poll__button {
        width: 100%;
    }

    .footer__container {
        justify-content: center;
    }


}
@media (max-width: 26.8738em) {
    .header__button {
        display: none;

    }
}